* {
    margin: 0;
    padding: 0;
}

[hidden] {
    display: none !important;
}

button,
input {
    font-family: inherit;
    color: inherit;
    background: inherit;
}

button,
input[type="range"] {
    cursor: pointer;
}

label[for] {
    cursor: pointer;
}
