@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 1 1000;
    src: local('JetBrains Mono'),
        url('../fonts/JetBrainsMono.ttf') format('truetype');
}

@font-face {
    font-family: 'Material Symbols Rounded';
    font-weight: 1 1000;
    src: local('Material Symbols Rounded'),
        url('../fonts/MaterialSymbolsRounded.ttf') format('truetype');
}

.material-icons {
    display: inline-block;

    font: 250 1.5rem / 1 'Material Symbols Rounded';
    font-variation-settings: 'FILL' 0;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
}
