@use "colors";
@use "fonts";

:root {
    --hue: 225deg;
    --saturation: 0%;
    --lightness: 96%;

    --spacing: .75rem;
}

* {
    margin: 0;
    padding: 0;
}

[hidden] {
    display: none !important;
}

button,
input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: inherit;

    border: 0;
}

button,
input[type="range"] {
    cursor: pointer;
}

html,
body,
#drag-panel,
.player {
    height: 100%;
}

body {
    font: .8375rem 'JetBrains Mono', monospace;
}

#drag-panel {
    display: grid;
    place-content: center;

    font-weight: bold;
    font-size: 2.25rem;
    color: var(--text2);
    background-image: radial-gradient(circle at 100% 0, var(--surface1), var(--surface1) 50%, var(--surface3) 75%, var(--surface1) 75%);

    transition: .5s;

    &[data-file-hover] {
        box-shadow: inset 0 0 .75em .25em;
    }
}

#drop-overlay {
    position: absolute;
    inset: 0;
    z-index: 1;
}

.player {
    display: flex;
    flex-direction: column;

    // This can be seen when a file is hovering over a video
    background-image: radial-gradient(var(--surface4), var(--surface3));

    video {
        flex: 1;
        min-height: 0;

        background-color: var(--surface2);

        transition: .5s;
    }

    &[data-file-hover] video {
        transform: scale(.75);
        border-radius: 1rem;
        border: medium solid var(--surface4);
    }
}

.controls {
    position: relative;

    display: flex;
    gap: var(--spacing);
    padding: var(--spacing);

    color: var(--text2);
    background-color: var(--surface2);
}

#video-bar {
    position: absolute;
    inset: 0;
    transform: translateY(-50%);

    height: .375rem;
    transition: .25s;

    &:hover {
        height: .5rem;
    }
}

#time-indicator {
    white-space: nowrap;
}

.duration::before {
    content: ' / ';
}

#file-name {
    margin: auto 0;

    max-width: 30ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &::before {
        content: '•';
        margin-right: var(--spacing);
    }
}

.basic-controls {
    user-select: none;
}

[class$="-btn"] {
    padding: calc(var(--spacing) * 2/3);
    border-radius: 50%;

    user-select: none;

    transition: .5s;

    &:is(:hover, :focus-visible) {
        color: var(--text1);
        background-color: var(--surface3);
        box-shadow: 0 0 1px;
    }
}

.speed-controls {
    // Push to the right
    margin-left: auto;

    display: inline-grid;
    grid:
        "speed-display speed-increase"
        "speed-display speed-decrease"
        / 4em 1.5em;

    --border: thin solid var(--surface4);
    border-radius: .5rem;
    border: var(--border);

    user-select: none;
}

#speed-display {
    grid-area: speed-display;
    border-right: var(--border);

    text-align: center;
    cursor: text;

    border-bottom-left-radius: inherit;
    border-top-left-radius: inherit;
    box-shadow: inset 0 0 .25em hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 15%));

    &::-webkit-inner-spin-button {
        display: none;
    }
}

.speed-increase,
.speed-decrease {
    font-size: 1rem;

    transition: .5s;

    &:is(:hover, :focus-visible) {
        color: var(--text1);
        background-color: var(--surface3);
    }
}

.speed-increase {
    grid-area: speed-increase;
    border-top-right-radius: inherit;
    border-bottom: var(--border);
}

.speed-decrease {
    grid-area: speed-decrease;
    border-bottom-right-radius: inherit;
}
