:root {
  /* Light theme */
  --light: hsl(var(--hue) var(--saturation) var(--lightness));

  --text1-light: hsl(var(--hue) var(--saturation) 10%);
  --text2-light: hsl(var(--hue) 30% 30%);

  --surface1-light: hsl(var(--hue) 25% 90%);
  --surface2-light: hsl(var(--hue) 20% 99%);
  --surface3-light: hsl(var(--hue) 20% 92%);
  --surface4-light: hsl(var(--hue) 20% 85%);

  --surface-shadow-light: var(--hue) 10% 20%;
  --shadow-strength-light: 2%;

  /* Dark theme */
  --dark: hsl(
    var(--hue) calc(var(--saturation) / 2) calc(var(--lightness) / 1.5)
  );

  --text1-dark: hsl(var(--hue) 15% 85%);
  --text2-dark: hsl(var(--hue) 5% 65%);

  --surface1-dark: hsl(var(--hue) 10% 10%);
  --surface2-dark: hsl(var(--hue) 10% 15%);
  --surface3-dark: hsl(var(--hue) 5% 20%);
  --surface4-dark: hsl(var(--hue) 5% 25%);

  --surface-shadow-dark: var(--hue) 50% 3%;
  --shadow-strength-dark: 80%;

  accent-color: var(--main-color);

  @media (prefers-color-scheme: light) {
    --main-color: var(--light);
    --text1: var(--text1-light);
    --text2: var(--text2-light);
    --surface1: var(--surface1-light);
    --surface2: var(--surface2-light);
    --surface3: var(--surface3-light);
    --surface4: var(--surface4-light);
    --surface-shadow: var(--surface-shadow-light);
    --shadow-strength: var(--shadow-strength-light);
  }

  @media (prefers-color-scheme: dark) {
    --main-color: var(--dark);
    --text1: var(--text1-dark);
    --text2: var(--text2-dark);
    --surface1: var(--surface1-dark);
    --surface2: var(--surface2-dark);
    --surface3: var(--surface3-dark);
    --surface4: var(--surface4-dark);
    --surface-shadow: var(--surface-shadow-dark);
    --shadow-strength: var(--shadow-strength-dark);
  }
}
