* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[hidden] {
    display: none !important;
}

button {
    border: none;
    user-select: none;
    cursor: pointer;

    font-size: inherit;
    font-family: inherit;
    color: inherit;
    background: transparent;
}

input {
    font-family: inherit;
}

input[type=number] {
    border: none;
    background: transparent;
    color: inherit;
    font-size: inherit;
}

input[type=range] {
    font-size: inherit;
}

input[type=range]::-webkit-slider-runnable-track {
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    cursor: grab;
}

input[type=range]::-webkit-slider-thumb:active {
    cursor: grabbing;
}

input[type=number] {
    cursor: text;
}

input[type=number]::-webkit-inner-spin-button {
    cursor: pointer;
}

input[type=file]::file-selector-button {
    border: none;
    border-radius: inherit;
    font-family: inherit;
}
